.custom-table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}

.custom-table th, .custom-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.custom-table th {
    background-color: #007BFF;
    color: #fff;
}

.custom-table tr:nth-child(even) {
    background-color: #f2f2f2;
}